<p>admin works!</p>
<!-- <div class="flex items-center flex-col">
    <h1>add new tour:</h1>
    <input type="text" placeholder="title" [(ngModel)]="title">
    <input type="number" placeholder="price" [(ngModel)]="price">
    <input type="text" placeholder="description" [(ngModel)]="description">
    <input type="text" placeholder="city" [(ngModel)]="city">
    <input type="text" placeholder="category" [(ngModel)]="category">
    <input type="text" placeholder="date" [(ngModel)]="date">
    <input type="text" placeholder="picture src" [(ngModel)]="picture">
    <button (click)="createDoc()">create tour</button>
</div> -->



<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg  md:max-w-5xl">
<div class="md:flex ">
    <div class="w-full p-2 px-5 py-5">

        <div class="md:grid md:grid-cols-3 gap-2 ">

            <div class="col-span-2 p-5">

                <h1 class="text-xl font-medium uppercase">tour list</h1>

                <div *ngFor="let tour of tours " class="flex justify-between items-center mt-6 pt-6">
                    <div class="flex  items-center">
                        <img [src]="tour.picture"   class="rounded-full w-16 h-16">

                        <div class="flex flex-col ml-3 w-24	">
                            <span class="md:text-md font-medium">{{ tour.title }}</span>
                            <!-- <span class="text-xs font-light text-gray-400">{{ tour.id }}</span> -->
                            
                        </div>

                        
                    </div>

                    <div class="flex justify-center items-center">
                    

                        <div class="pr-8 flex">
                            
                            <span class="text-xs font-medium pr-2">{{ tour.price }} $</span>
                            <svg (click)="deleteDoc(tour.id)" class="text-red-700 w-4 h-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                              </svg>
                              
                        </div>
                        <div>
                            <i class="fa fa-close text-xs font-medium"></i>
                        </div>

                    </div>
                    
                </div>







                <div class="flex justify-between items-center mt-6 pt-6 border-t"> 
                    <div class="flex items-center">
                        <i class="fa fa-arrow-left text-sm pr-2"></i>
                        <span routerLink="/tours"  class="text-md  font-medium cursor-pointer text-red-700">BACK TO TOURS</span>
                    </div>
                    
                </div>
